# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
*.pyo

# Virtualenv
venv/
env/
lapconenv/

# Django stuff
*.log
*.pot
*.pyc
db.sqlite3
media/
staticfiles/
static_root/

# VS Code / PyCharm / IDEs
.vscode/
.idea/
*.swp

# OS files
.DS_Store
Thumbs.db

# Environment variables
.env
*.env
