
.category-card {
  background: #f9f9f9;
  padding: 15px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}
.category-card:hover {
  transform: scale(1.05);
}
.category-card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}
.view-more-btn {
  float: right;
  background: #cfe2ff;
  border-radius: 20px;
  padding: 8px 16px;
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.view-more-btn:hover {
  background: #b0d1ff;
}




/* product card hover time popup */

.product-card {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    background: white;
    padding: 15px;
    border: 1px solid #ddd;
    transition: 0.3s;
    height: 100%; /* ensures full height within parent */
    min-height: 450px; /* Adjust based on your design */
}

.product-card:hover {
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}

.product-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: 0.3s;
}



.product-card:hover .product-img {
    transform: scale(1.05);
}

.popup-overlay {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
    transition: 0.3s;
    z-index: 2;

}

.product-card:hover .popup-overlay {
    opacity: 1;
    visibility: visible;
}

.popup-btn {
    background:#007bff;
    color: black;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 5px;
    text-align: center;
    transition: 0.3s;

}

.popup-btn:hover {
    background: #007bff;
    color: white;
}

.popup-actions {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.popup-actions span {
    background: white;
    margin: 0 5px;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: 0.3s;
}

.popup-actions span:hover {
    background: #007bff;
    color: white;
}

.discount-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    background: #ff6b6b;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 14px;
}

.product-title {
    font-weight: bold;
    margin-top: 10px;
    
}

.product-price {
    font-size: 18px;
    font-weight: bold;
    color: #007bff;
}

.old-price {
    color: red;
    text-decoration: line-through;
    margin-left: 8px;
}



@keyframes slide {
  from{
    transform: translateX(0);
  }
  to{
    transform: translateX(-100%);
  }
}

.logos{
  overflow:hidden;
  padding:60px 0;
  white-space: nowrap;
  
}

.logos:hover .logos-slide{
  animation-play-state: paused;
}
.logos-slide{
  display: inline-block;
  animation:5s slide infinite linear;
}
.logos-slide img{
  height: 90px;
  margin:0 40px
}

/* image college */
.img-container {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  transition: 0.3s;
}

.img-container img {
  
  
  transition: transform 0.3s ease-in-out;
  border-radius: 10px;
}

.img-container:hover img {
  transform: scale(1.1);
} 
.loginbackground{
  width: 100%;
  height: 800px;
  background-color: #055160;
}
.loginimge{
  width: 600px;
  height: 600px;
  background-image: url('/static/images/lapban.jpg');
  background-size: cover;
 
  background-repeat: no-repeat;
}



.form-section {
  width: 50%;
  padding: 30px;
 
}

.form-section h2 {
  font-size: 24px;
  font-weight: bold;
}

.form-section p {
  font-size: 14px;
  margin-bottom: 15px;
}

.form-section input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.register-btn {
  width: 100%;
  padding: 10px;
  background-color: #ccc;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.google-btn {
  width: 100%;
  padding: 10px;
  background-color: white;
  border: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-top: 10px;
}

.google-btn img {
  width: 20px;
  margin-right: 10px;
}

.form-section a {
  color: black;
  text-decoration: none;
  font-weight: bold;
} 
.back-link {
  margin-top: 10px;
  display: block;
  color: red;
  text-decoration: none;
}
.add-to-cart-btn{
  z-index: 2; 
  position: relative;
  
}
.stretched-link {
  z-index: 1;
}
.product-card {
  position: relative;
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 15px;
  text-align:left;
  transition: 0.3s;
  background: #fff;
}
.product-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.15);
}
.product-img {
  max-width: 100%;
  height: 200px;
  object-fit: contain;
}
.discount-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: crimson;
  color: white;
  font-size: 14px;
  padding: 3px 8px;
  border-radius: 5px;
}
.popup-overlay {
  display: none;
  position: absolute;
  top: 0; left: 0;
  width: 100%; height: 100%;
  background:#000000bd;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.product-card:hover .popup-overlay {
  display: flex;
}
.old-price {
  text-decoration: line-through;
  color: gray;
  margin-left: 5px;
}
/* new css */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
}


nav{
    flex: 1;
    text-align: center;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    
}
a{
    text-decoration: none;
    
}
p{
    color: #212a31;
}
h1{
    color: #124e66;
}


.col-2{
    flex-basis: 50%;
    min-width: 300px;
}
.bredcrums {
    color: #8a8a8a;
}
.col-2 img{
    max-width: 100%;
    padding:  0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: #1d3ddd;
    color: white;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    border: #124e66 solid;
}
.btn_l{
    display: inline-block;
    background: white;
    color: #124e66;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
    border: #124e66 solid;
}
.wish_cart{
    display: flex;
    justify-content: center;
}
.wishlist{
    margin-left: 10px;
    padding: 8px 10px;
    width: 100px;
    color: white;
    background: #124e66;
    border: none;
    border-radius: 20px;
}
.view{
    margin-left: 10px;
    padding: 8px 10px;
    width: 100px;
    color: white;
    background: #124e66;
    border: none;
    border-radius: 20px;
}
.cart{
    margin-left: 10px;
    padding: 8px 10px;
    width: 100px;
    background: transparent;
    border: #124e66 solid;
    color: #124e66;
    border-radius: 20px;
}
.pro_text{
    font-size: 10px;
}
.btn:hover{
    background: #ffffff;
    color: #124e66;
}
.btn_l:hover{
    background: #124e66;
    color: #ffffff;
}
.header{
    background: radial-gradient(#fff,#748d92);
}
.header .row{
    margin-top: 70px;
}
.categories{
    margin: 70px 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 75%;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    margin-bottom: 50px;
    transition: transform 0.5s;
    border: #2e394417 solid 1.5px;
    border-radius: 20px;
    margin: 10px;
    width: 909px;
}

.col-4 img{
    width: 300px;
    height: 300px;
}
.title{
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #212a31;
}
.title::after{
    content: '';
    background: #124e66;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
h2{
    color: #2E3944;
}
h4{
    color: #212a31;
    font-weight: normal;
}
.col-4 p{
    font-size: 14px;
}
.rating .fa{
    color: #124e66;
}
.col-4:hover{
    transform: translateY(-5px);
}
/* Offer */
.offer{
    background: radial-gradient(#fff, #748d92);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #212a31;
}

/* Testimonial */
.testimonial{
    margin-top: 100px;
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #124e66;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.testimonial .col-3 h3{
    font-weight: 600;
    color: #124e66;
    font-size: 16px;
}
/* Brands */
.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}

/* All Products */
.row-2{
    justify-content: space-between;
    margin: 50px auto 50px;
}
select{
    border: 1px solid #124e66;
    border-radius: 15px;
    padding: 5px;
}
select:focus{
    outline: none;
}
.page-btn{
    margin: 0 auto 80px;
}
.page-btn span{
    display: inline-block;
    border: 1px solid #124e66;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #212a31;
    color: white;
}

/* Single Product */
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}
.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}
.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}
.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-left: 10px;
    border: 1px solid #124e66;
    margin-right: 10px;
}
input:focus{
    outline: none;
}
.single-product .fa{
    color: #124e66;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}

/* Cart Items */
.cart-page{
    margin: 80px auto;
}
table{
    width: 100%;
    border-collapse: collapse;
}
.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px 5px 5px 5px;
    color: #fff;
    background: #124e66;
    font-weight: normal;
}
td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}
td a{
    color: #ff523b;
    font-size: 12px;
}
td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.total-price{
    display: flex;
    justify-content: flex-end;
}
.total-price table{
    border-top: 3px solid #124e66;
    width: 100%;
    max-width: 400px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

/* Account page */
.account-page{
    padding: 50px 0;
    background: radial-gradient(#fff, #ffd6d6);
}
.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}
.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}
.form-btn{
    display: inline-block;
}
.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
#LoginForm{
    left: -300px;
}
#RegForm{
    left: 0;
}
form a{
    font-size: 12px;
}
#Indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s;
}
.search{
    display: none;
}

.search_l{
    width: 218px;

}

.serch_input_l{
    border-radius: 25px;
    height: 100%;
    width: 90%;
    border: #748d92 solid;
    background-color: transparent;
    padding: 4px;
    
}
.serch_submit_l{
    color: #124e66;
    background: transparent;
    width: 28%;
    height: 25%;
    margin-left: -60px;
    border: none;
}
input[type=text] {
    width: 80%;
    padding: 3px 10%;
    margin: 8px 0;
  }
.overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: white;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
.Spec_item{
    display: flex;
    width: 300px;
    margin-left: 10px;
}
.spec_h{
    text-align: left;
    width: 150px;
    font-size: 15px;
}
.spec_d{
    align-items: center;
}
.spec_val{
    text-align: left;
    font-size: smaller;
    margin-left: 25px;
}
.inpc{
    width: 44px;
    margin-left: 14px;
    height: 44px;
    border-radius: 31px;
}
.inpc input{
    margin: 2.1px -1px 0px -2.5px;
}
.inpc_spa{
    display: flex;
}
h5 s {
    color: #748d92;
}
.price_4 {
    color: #124e66;
}
/* Media query for menu */
@media only screen and (max-width: 800px){
    
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
    }
    .menu-icon{
        display: block;
        cursor: pointer;
    }
    input[type=text] {
        width: 101%;
        padding: 0px 10%;
        margin: 8px 0;
        display: inline-block;
        box-sizing: border-box;
      }
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
    }
}

/* Media query for 600 screen size */
@media only screen and (max-width: 600px){
    .search{
        display: flex;
    }
    .search_l{
        display: none;
    
    }
    .serch_frm{
        width: 90%;
        margin-left: 5%;
        display: inline;
    }
    .serch_input{
        border-radius: 25px;
        height: 100%;
        border: #748d92 solid;
        background-color: transparent;
    }
    .serch_input{
        border-radius: 25px;
        height: 100%;
        border: #748d92 solid;
        background-color: transparent;
    }
    .serch_submit{
        height: 60%;
        color: #124e66;
        border: none;
        background: transparent;
        width: 22%;
        margin: -65px;
    }
    ::placeholder {
        color: #212a31;
        opacity: 1;
      }
    input[type=text] {
        width: 101%;
        padding: 0px 10%;
        margin: 8px 0;
        display: inline-block;
        box-sizing: border-box;
      }
    .row{
        text-align: center;
    }
    .col-2, .col-3, .col-4{
        flex-basis: 100%;
    }
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }
    .single-product h1{
        font-size: 26px;
        line-height: 32px;
    }
    .cart-info p{
        display: none;
    }
}

  
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
    }
  }
  