@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

body{
    background-color: #124E66;
}


/*------------ Login container ------------*/
.box-area{
    width: 1030px;
}
/*------------ Right box ------------*/
.right-box{
    padding: 40px 30px 40px 40px;
}

/* Responsive media query code for mobile devices */
@media(max-width: 459px) {
  .container .content .category {
    flex-direction: column;
  }
}
/*------------ Custom Placeholder ------------*/
::placeholder{
    font-size: 16px;
}
.rounded-4{
    border-radius: 20px;
}
.rounded-5{
    border-radius: 30px;
}

.left-box {
    background: url("C:/Users/sahla/lapcontech/lapcon/static/image/lapban.jpg") no-repeat center center;
    background-size: cover;
    
}
.input-group input {
    max-width: 100%; 
    min-width: 0; /* Adjust as per your liking */
}


/*------------ For small screens------------*/
@media only screen and (max-width: 768px){
     .box-area{
        margin: 0 10px;
     }
     .left-box{
        height: 100px;
        overflow: hidden;
     }
     .right-box{
        padding: 20px;
     }
}