{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>lapcon-your laptops</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static 'images/logolapcon.png' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css " rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static 'css/style.css' %}" rel="stylesheet" />
        <link href="{% static 'css/styles.css' %}" rel="stylesheet" />
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
         <!-- fontawsom icons-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-papD8p13YdNq+gTWybv+zOSk+Nv9AbpjrJ2cNoqaqLKm3+5g7ZT+nl6Tqz6Z+YqzYkU49fH/qRgnnObHZ/0bDQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container px-4 px-lg-2">
        <!-- Logo -->
        <a class="navbar-brand me-5" href="#">
            <img src="{% static 'images/logolapcon.png' %}" alt="Lapcon Logo" style="width: 123px; height: 53px;">
        </a>

        <!-- Toggler for mobile -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar links and cart -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Left links -->
             <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link fw-bold active" aria-current="page" href="#!">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#!">Support</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link fw-bold" href="#!">FAQs</a>
                </li>
            </ul>


            <!-- Cart button on the right -->
            <form class="d-flex">
                <a href="{% url 'view_cart' %}" class="btn btn-outline-dark">
                    <i class="bi-cart-fill me-1"></i>
                    Cart
                    <span class="badge bg-dark text-white ms-1 rounded-pill cart-items-count">
                       {% if request.session.cart_data_obj %}
                               {{ request.session.cart_data_obj|length }}
                       {% else %}
                                      0
                       {% endif %}
                    </span>
                </a>
            </form>
        </div>
    </div>
</nav>

        {% if messages %}
                    {% for message in messages  %}
                        <div class="alert alert-{{ message.tags }}">
                           <strong> {{ message }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}
                <script>
                    setTimeout(() => {
                        $('.alert').alert('close');
                    }, 3000);
                         
                </script>
        {% block contant%}
        
        {% endblock contant%}
        <!-- Footer-->
         <hr>
<footer class="py-5 bg-white border-top">
    <div class="container">
        <!-- Contact Info Section -->
        <div class="pb-5 border-bottom">
            <ul class="nav justify-content-between flex-wrap">
                <!-- Location -->
                <li class="nav-item d-flex mb-3">
                    <div class="pe-2">
                        <i class="fa-solid fa-location-dot fa-2x"></i>
                    </div>
                    <address class="mb-0">
                        <h5 class="fw-bold">Find Us</h5>
                        <p class="text-capitalize mb-0">
                            FALCON TOWER <br>
                            VALANCHERY ROAD <br>
                            PANG CHENDI, MALAPPURAM (DT) <br>
                            KERALA-679338
                        </p>
                    </address>
                </li>
                <!-- Phone -->
                <li class="nav-item d-flex mb-3">
                    <a href="tel:+918129526633" class="d-flex text-reset text-decoration-none">
                        <div class="pe-2">
                            <i class="fa-solid fa-phone-volume fa-2x"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold">Call Us</h5>
                            <p class="text-capitalize mb-0">+91 81295 26633</p>
                        </div>
                    </a>
                </li>
                <!-- Mail -->
                <li class="nav-item d-flex mb-3">
                    <a href="mailto:lapcontechnologys@gmail.com" class="d-flex text-reset text-decoration-none">
                        <div class="pe-2">
                            <i class="fa-regular fa-envelope-open fa-2x"></i>
                        </div>
                        <div>
                            <h5 class="fw-bold">Mail Us</h5>
                            <p class="mb-0">lapcontechnologys@gmail.com</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Footer Middle Section -->
        <div class="row pt-5">
            <!-- Logo & Social -->
            <div class="col-lg-5 col-md-12 footer-icons-section mb-4 mb-lg-0">
                <a class="footer-logo d-inline-block mb-3" href="#">
                    <img src="{% static 'images/logolapcon.png' %}" alt="Lapcon Logo" width="248" height="85">
                </a>
                <h5 class="fw-bold mb-3">Subscribe</h5>
                <div class="d-flex gap-3">
                    <a href="#" target="_blank" class="text-reset"><ion-icon name="logo-instagram"></ion-icon></a>
                    <a href="#" target="_blank" class="text-reset"><ion-icon name="logo-facebook"></ion-icon></a>
                    <a href="#" target="_blank" class="text-reset"><ion-icon name="logo-twitter"></ion-icon></a>
                    <a href="#" target="_blank" class="text-reset"><ion-icon name="logo-whatsapp"></ion-icon></a>
                </div>
            </div>

            <!-- Footer Links -->
            <div class="col-lg-7 col-md-12 footer-text-section">
                <div class="d-flex flex-column flex-lg-row justify-content-between">
                    <!-- Company -->
                    <div class="px-3 border-lg-end mb-3 mb-lg-0">
                        <h5>Company</h5>
                        <a href="#" class="text-reset text-decoration-none d-block link-hover">About Us</a>
                        <a href="#" class="text-reset text-decoration-none d-block link-hover">Contact Us</a>
                        <a href="#" class="text-reset text-decoration-none d-block link-hover">Products</a>
                        <a href="#" class="text-reset text-decoration-none d-block link-hover">Category</a>
                    </div>
                    <!-- Legal -->
                    <div class="px-3 border-lg-end mb-3 mb-lg-0">
                        <h5>Legal</h5>
                        <a href="{% url 'privacy_policy' %}" class="text-reset text-decoration-none d-block link-hover">Privacy Policy</a>
                        <a href="{% url 'terms_conditions' %}" class="text-reset text-decoration-none d-block link-hover">Terms & Conditions</a>
                        <a href="{% url 'refund_policy' %}" class="text-reset text-decoration-none d-block link-hover">Return Policy</a>
                        <a href="" class="text-reset text-decoration-none d-block link-hover">Shipping Policy</a>
                    </div>
                    <!-- Resources -->
                    <div class="px-3">
                        <h5>Resources</h5>
                        <a href="#" class="text-reset text-decoration-none d-block link-hover">Support</a>
                        <a href="#" target="_blank" class="text-reset text-decoration-none d-block link-hover">Android App</a>
                        <a href="#" target="_blank" class="text-reset text-decoration-none d-block link-hover">iOS App</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Bottom Footer -->
        <hr>
        <div class="row text-center">
            <span>© 2023-24, All Rights Reserved <strong>Lapcon</strong> | Developed by <strong>Sahla M</strong></span>
        </div>
    </div>
</footer>

<!-- Optional CSS for hover effect -->
<style>
    .link-hover:hover {
        color: #0d6efd; /* Bootstrap primary color */
        text-decoration: underline;
        transition: 0.3s;
    }
</style>

        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        

            <script>
        document.getElementById('logout').addEventListener('click', function (e) {
            e.preventDefault();  // Prevent the default anchor behavior
    
            Swal.fire({
                title: 'Are you sure?',
                text: "Do you really want to log out?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#d33',
                cancelButtonColor: '#124e66',
                confirmButtonText: 'Yes, log out!',
                cancelButtonText: 'Cancel'
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to the logout URL
                    window.location.href = "{% url 'signout' %}";
                } else {
                    Toastify({
                        text: "Logout canceled.",
                        duration: 3000,
                        close: true,
                        gravity: "top",
                        position: "right",
                        backgroundColor: "green",
                        stopOnFocus: true,
                    }).showToast();
                }
            });
        });
    
        function toggleDropdown() {
            var dropdown = document.getElementById("dropdown");
            dropdown.style.display = dropdown.style.display === "block" ? "none" : "block";
        }
    
        // Close dropdown when clicking outside
        window.onclick = function(event) {
            if (!event.target.matches('.avatar')) {
                var dropdown = document.getElementById("dropdown");
                if (dropdown.style.display === "block") {
                    dropdown.style.display = "none";
                }
            }
        }
    </script>


    <script>
        var MenuItems = document.getElementById("MenuItems");
        MenuItems.style.maxHeight = "0px";
        function menutoggle() {
            if (MenuItems.style.maxHeight == "0px") {
                MenuItems.style.maxHeight = "200px"
            }
            else {
                MenuItems.style.maxHeight = "0px"
            }
        }
    </script>

    
    <script>
    
$(document).ready(function() {

    $('.add-to-cart-btn').click(function(e) {
        e.preventDefault();
        

        var cartBtn = $(this);            // ⭐ FIX: define button
        var variantId = cartBtn.data('variant-id');

        $.ajax({
            url: "{% url 'add_to_cart' 0 %}".replace('0', variantId),
            type: "GET",
            success: function(response) {

                if (response.status === "added" || response.status === "quantity_updated") {

                    // ⭐ Remove wishlist item visually
                    let wishlistCard = cartBtn.closest(".wishlist-card");
                    wishlistCard.slideUp(300, function() {
                        $(this).remove();
                    });

                    Toastify({
                        text: "Item added to cart!",
                        duration: 3000,
                        gravity: "top",
                        position: "right",
                        close: true,
                        backgroundColor: "#4CAF50",
                    }).showToast();
                }

                else if (response.status === "max") {
                    Toastify({
                        text: "Maximum limit reached!",
                        duration: 3000,
                        gravity: "top",
                        position: "right",
                        backgroundColor: "yellow",
                    }).showToast();
                }

                else if (response.status === "unauthenticated") {
                    Toastify({
                        text: "Please sign in to add items!",
                        duration: 3000,
                        gravity: "top",
                        position: "right",
                        backgroundColor: "red",
                    }).showToast();
                }

                

                else if (response.status === "error") {
                    Toastify({
                        text: "Out of stock!",
                        duration: 3000,
                        gravity: "top",
                        position: "right",
                        backgroundColor: "red",
                    }).showToast();
                }

            }
        });

    });



 

        
        $('.add-to-wishlist-btn').click(function(e) {
            e.preventDefault();
            var variantId = $(this).data('variant-id');
            
            $.ajax({
                url: "{% url 'add_to_wishlist' 0 %}".replace('0', variantId),
                type: 'GET',
                success: function(response) {
                    if (response.status === 'added') {
                        Toastify({
                            text: "Item added to wishlist!",
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            backgroundColor: "#4CAF50",
                            stopOnFocus: true,
                        }).showToast();
                    } else if (response.status === 'exists') {
                        Toastify({
                            text: "Item already in wishlist!",
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            backgroundColor: "yellow",
                            stopOnFocus: true,
                        }).showToast();
                    } else if (response.status === 'unauthenticated') {
                        Toastify({
                            text: "Please sign in to add items to your wishlist.!",
                            duration: 3000,
                            close: true,
                            gravity: "top",
                            position: "right",
                            backgroundColor: "red",
                            stopOnFocus: true,
                        }).showToast();
                    }
                }
            });
        });
    });
    </script>
   <script>
    document.addEventListener("DOMContentLoaded", function () {
        const offeredPrice = document.querySelectorAll('.offered-price')
        const offer = document.querySelectorAll('.offer')
        const vPrice = document.querySelectorAll('.variant-price')
        for (let i = 0; i < offeredPrice.length; i++) {
            offeredP = vPrice[i].textContent - (vPrice[i].textContent*offer[i].textContent/100)
            offeredPrice[i].textContent = '₹' + offeredP
          }

        const ofer_percent = offer.textContent;
        const variantPrice = vPrice.textContent;
        console.log(variantPrice,offeredPrice)
        let price = variantPrice - (variantPrice*ofer_percent/100)
        offeredPrice.textContent = price
    });
   </script>
<!-- Toastify CSS -->
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">

<!-- Toastify JS -->
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    </body>
</html>





