{% extends 'blank_layout.html' %}
{% load static %}
{% block title %}Orders{% endblock %}
{% block contant %}
<style>
    
    body{
        background: #020024;
            background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(93, 93, 240, 1) 45%, rgba(6, 78, 171, 1) 76%, rgba(0, 212, 255, 1) 100%);
            font-family: Arial, sans-serif;
    }

    .wallet-card {
        border: 1px solid #ccc;
        border-radius: 10px;
        padding: 20px;
        margin-bottom: 10px;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .wallet-card div h1 {
        font-size: 100px;
    }

    .wallet-card img {
        width: 300px;
        height: auto;
    }

    .balance {
        font-size: 2em;
        margin: 20px 0;
    }

    .payment-methods {
        display: flex;
        justify-content: space-around;
        margin-bottom: 20px;
    }

    .payment-method {
        padding: 10px;
        border-radius: 5px;
        background-color: #f8f9fa;
        cursor: pointer;
    }

    .add-balance-btn {
        background-color: #124e66;
        color: #fff;
        padding: 10px 20px;
        border-radius: 5px;
        text-decoration: none;
    }
</style>
<!-- All Products -->
<br><br><br>
<div class="container mt-5">
    <div class="wallet-card">
        <img src="{% static 'images/wallet.png' %}" alt="">
        <div>
            <h1 text-white >Wallet</h1>
            <div class="balance">₹{{wallet.balence}}</div>
            <br><br>
            <!-- <a href="#" class="add-balance-btn" id="add_balence">Add Balance</a> -->
        </div>
        <br>
    </div>
</div>
<div class="container mt-5">
    <div class="wallet-card">
        <h1>Transactions</h1>
        <table>
            <tr>
                <th>Amount</th>
                <th>Type</th>
                <th >Item</th>
            </tr>
        {% for transaction in transactions%}    
            <tr>
                <td style="text-align: justify;">₹ {{transaction.amount}}</td>
                <td style="text-align: justify;">{{transaction.type}}</td>
                <td>{{transaction.variant.product.name}}</td>
            </tr>
        {% endfor %}
        </table>
    </div>
</div>

{% for transaction in transactions %}
<tr>
    <td>₹ {{ transaction.amount }}</td>
    <td>{{ transaction.narration }}</td>
    <td>{{ transaction.created_at }}</td>
</tr>
{% empty %}
<tr>
    <td colspan="3">No transactions yet.</td>
</tr>
{% endfor %}
<br><br><br><br><br>



{% endblock %}
